<div style="text-align:center">

    <div style="height: 100px;"></div>

    <div style="text-align:center;">
        <img src="../../assets/ola.gif">
    </div>
    <div>
        <img src="../../assets/rose.gif" style="height:350px;">
    </div>
    <div>
        <h4>
            Só para dizer que:
        </h4>
    </div>
    <div>
        <h3 style="font-size: 50px;color: red;">Gosto MUITO de ti!!!</h3>
    </div>

    <div style="height: 50px;"></div>

    <p>
        ( ... sem expetativas ... )
    </p>
</div>

<div style="text-align: right;margin: 50px 100px 0 0;">
    made with
    <span style="color: red;">&#10084;</span>
    by Miguel
</div>