<div style="text-align:center">

    <div style="height: 75px;"></div>

    <div style="text-align:center;">
        <img src="../../assets/ola.gif">
    </div>
    <div>
        <img src="../../assets/rose.gif" style="height:350px;">
    </div>
    <div>
        <h4>
            Só para dizer que:
        </h4>
    </div>
    <div>
        <h3 style="font-size: 50px;color: red;">Gosto MUITO de ti!!!</h3>
    </div>

    <div style="height: 30px;"></div>

    <div style="margin-bottom: 30px;">
        <div>... E porque me apeteceu surpreender-te! :P</div>
        <div>... Lembrei-me disto! :P</div>
        <div>... E porque és fixe! :P</div>
        <div>... E porque aposto que nunca te ofereceram um site com uma rosa! :P</div>
        <div>Afinal, fixe sou eu!!! :P</div>
    </div>

    <p>
        ( ... ah, e sem expetativas ... :P )
    </p>
</div>

<div style="text-align: right;margin: 50px 100px 100px 0;">
    made with
    <span style="color: red;">&#10084;</span>
    by Miguel
</div>